
#featSales {
    background-color: darkorange;
    height: auto;
    width: auto;
    text-align: center;
    float: none;
}

h1 {
    text-align: center;
    width: auto;
    height: 2em;
    color: dodgerblue;
    background-color: dimgrey;
    float:none;
}

.topnav {
    background-color: #EE8414;
    overflow: hidden;
}

.topnav a:hover {
    background-color: #FF0000;
    color: aliceblue;
}

.topnav a {
    font-size: 1.2em;
    padding: .5em 6.97em;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Tahoma, Geneva, sans-serif;
    float: left;
}
